<div class="modal-footer">
    <button type="button" class="btn btn-default close-button waves-effect" data-dismiss="modal">Anuluj</button>
    <button type="button" class="btn btn-primary save-button waves-effect">Zapisz</button>
</div>