<a class="btn btn-primary width-100 m-1 bg-c-chocolate-imp" data-toggle="collapse" data-target="#collapse-buyItems" aria-expanded="true" aria-controls="collapseAria-buyItems">
    <div class="text-center">Kup</div>
</a>
<div id="collapse-buyItems" class="collapse" aria-labelledby="heading-buyItems">
    <div id="blackMarketBuyDataTableBox" class="m-10 overflow-auto">
        <table id="blackMarketBuyDataTableSearcher" class="cell-border width-100-imp hover border-groove">
            
        </table>
    </div>
</div>

<a class="btn btn-primary width-100 m-1 bg-c-chocolate-imp" data-toggle="collapse" data-target="#collapse-sellItems" aria-expanded="true" aria-controls="collapseAria-sellItems">
    <div class="text-center">Wystaw</div>
</a>
<div id="collapse-sellItems" class="collapse" aria-labelledby="heading-sellItems">
    <div id="blackMarketSellDataTableBox" class="m-10 overflow-auto">
        <table id="blackMarketSellDataTableSearcher" class="cell-border width-100-imp hover border-groove">
            
        </table>
    </div>
</div>

<a class="btn btn-primary width-100 m-1 bg-c-chocolate-imp" data-toggle="collapse" data-target="#collapse-issuedItems" aria-expanded="true" aria-controls="collapseAria-issuedItems">
    <div class="text-center">Wystawione</div>
</a>
<div id="collapse-issuedItems" class="collapse" aria-labelledby="heading-buyItems">
    <div id="blackMarketIssuedDataTableBox" class="m-10 p-b-10 overflow-auto">
        <table id="blackMarketIssuedDataTableSearcher" class="cell-border width-100-imp hover border-groove">
            
        </table>
    </div>
</div>
