<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender" >
    <file value="App_Data/Logs/Logs.txt" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="1000KB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%-5level %date [%-5.5thread] %-40.40logger - %message%newline" />
    </layout>

    <!-- hub'y (SignalRHubs) spamowały warn'em -->
    <!-- WARN 2022-07-17 12:31:52,200 [11 ] ing.HttpContextCancellationTokenProvider - HttpContext.Request access when it is not suppose to -->
    <!-- System.Web.HttpException (0x80004005): Odpowiedź nie jest dostępna w tym kontekście. -->
    <!-- w System.Web.HttpContext.get_Response() -->
    <!-- w Abp.Web.Threading.HttpContextCancellationTokenProvider.get_Token() -->
    <!-- ten filtr je wyklucza -->
    <!-- wykluczone zostaną warn'y z tej przestrzeni nazw - Abp.Web.Threading.HttpContextCancellationTokenProvider -->
    <!-- http://www.claassen.net/geek/blog/2009/06/log4net-filtering-by-logger.html -->
    <!-- te poziomy które mają być logowane muszą być tu wymienione -->
    <filter type="log4net.Filter.LevelMatchFilter">
      <levelToMatch value="DEBUG"/>
    </filter>
    <filter type="log4net.Filter.LevelMatchFilter">
      <levelToMatch value="INFO"/>
    </filter>
    <filter type="log4net.Filter.LevelMatchFilter">
      <levelToMatch value="ERROR"/>
    </filter>
    <filter type="log4net.Filter.LoggerMatchFilter">
      <loggerToMatch value="Abp.Web.Threading.HttpContextCancellationTokenProvider" />
      <acceptOnMatch value="false" />
    </filter>

  </appender>
  <root>
    <appender-ref ref="RollingFileAppender" />
    <level value="DEBUG" />
  </root>
  <logger name="NHibernate">
    <level value="WARN" />
  </logger>
</log4net>