<div class="customers_right_bottom_position text-left">
    <div class="chat_window messages_position">
        <div class="top_menu">
            <div class="buttons">
                <div id="closeCustomerZone" class="material-icons close-chat-btn">close</div>
            </div>
            <div class="title">Strefa klienta</div>
        </div>
        <ul id="customersMessages" class="messages"></ul>
        <div class="bottom-customers-bar"></div>
    </div>
    
    <div class="offer_template d-none">
        <li class="message">
            <div class="avatar"></div>
            <div class="text_wrapper">
                <div class="text d-contents">
                </div>
                <div class="btn btn-success" >Sprzedaj</div>
            </div>
        </li>
    </div>
</div>
