.simple-popover {
    border: 16px ridge #A47047;
    border-radius: 22px;
    overflow: auto;
    opacity: 0;
    visibility: hidden;
    transform: translate(0, -20px);
    transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
    position: absolute;
    background-color: #3c3c3c;
    top: 15px;
    left: -80px;
    padding: 1.5rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    z-index: 10;
    width: max-content;
    display: grid;
}

.show-popover:hover .simple-popover {
    z-index: 10;
    opacity: 1;
    visibility: visible;
    transform: translate(0, -20px);
    width: max-content;
    transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
}

.loading_dots:after {
    content: ' .';
    animation: dots 1s steps(5, end) infinite;
}

@keyframes dots {
    0%, 20% {
        color: rgba(0,0,0,0);
        text-shadow:
                .25em 0 0 rgba(0,0,0,0),
                .5em 0 0 rgba(0,0,0,0);}
    40% {
        color: white;
        text-shadow:
                .25em 0 0 rgba(0,0,0,0),
                .5em 0 0 rgba(0,0,0,0);}
    60% {
        text-shadow:
                .25em 0 0 white,
                .5em 0 0 rgba(0,0,0,0);}
    80%, 100% {
        text-shadow:
                .25em 0 0 white,
                .5em 0 0 white;}
}

.game-clock {
    height: 0;
    position: fixed;
    right: 60px;
    top: 80px;
    z-index: 12;
}

.slideshow-container {
    overflow: hidden;
    border: 23px outset #636BA4;
    border-radius: 20px;
    max-width: 500px;
    max-height: 500px;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
}

.slider-img {
    margin: 2rem;

}

.text {
    color: #f2f2f2;
    font-size: large;
    padding: 8px 12px;
    position: absolute;
    top: 8px;
    width: 100%;
    text-align: center;
}

.mix-colors {
    mix-blend-mode: difference;
    font-weight: bold;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #01bcff;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

@media (min-width: 768px) {
    .dot:hover {
        background-color: #0BF61B;
    }
}

.active {
    background-color: #0BF61B;
}

.slider-fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

.slider-btn {
    color: white;
    background-color: inherit;
    border: inset;
}
